
//NECESSARY IMPORT
@import "../var/colors.scss";



.section_00{
//  background-color: $brown;
   //Occupation de toute la taille ecran disponible
  left: 0; right:0;
  min-height: 100vh;
  h1{
    top:400px;
  }
}


.logo_CV {
  //position : absolute;
  width:250px; height:250px;
  top:50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_CV.svg');
  background-size: contain;
}


.logo_portfolio {
  //position : absolute;
  width:260px; height:260px;
  top:50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../private/img/logo.png") no-repeat center;//fallback
  background-image: url('../img/logo_portfolio.svg');
  background-size: contain;
}
